<h1>Welcome <%= user.name %>,</h1>
<p>
    Pages:
    <ul>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/edit">Edit Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</p>