<% if(err) { %>
    <%= err %>
<% } %>
<form action="/signUp" method="post">
<input type="text" name="name" placeholder="name"><br>
<input type="email" name="email" placeholder="email"><br>
<input type="password" name="password" placeholder="password"><br>
<input type="submit" value="submit">
</form>